/.idea/.gitignore
/.idea/caja22-opossum.iml
/.idea/compiler.xml
/.idea/encodings.xml
/.idea/jarRepositories.xml
/.idea/libraries/Maven__ch_qos_logback_logback_classic_1_2_11.xml
/.idea/libraries/Maven__ch_qos_logback_logback_core_1_2_11.xml
/.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_annotations_2_13_2.xml
/.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_core_2_13_2.xml
/.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_databind_2_13_2_2.xml
/.idea/libraries/Maven__com_fasterxml_jackson_datatype_jackson_datatype_jdk8_2_13_2.xml
/.idea/libraries/Maven__com_fasterxml_jackson_datatype_jackson_datatype_jsr310_2_13_2.xml
/.idea/libraries/Maven__com_fasterxml_jackson_jaxrs_jackson_jaxrs_base_2_13_2.xml
/.idea/libraries/Maven__com_fasterxml_jackson_jaxrs_jackson_jaxrs_json_provider_2_13_2.xml
/.idea/libraries/Maven__com_fasterxml_jackson_module_jackson_module_jaxb_annotations_2_13_2.xml
/.idea/libraries/Maven__com_fasterxml_jackson_module_jackson_module_parameter_names_2_13_2.xml
/.idea/libraries/Maven__com_google_code_findbugs_jsr305_3_0_2.xml
/.idea/libraries/Maven__com_google_errorprone_error_prone_annotations_2_11_0.xml
/.idea/libraries/Maven__com_google_guava_failureaccess_1_0_1.xml
/.idea/libraries/Maven__com_google_guava_guava_31_1_jre.xml
/.idea/libraries/Maven__com_google_guava_listenablefuture_9999_0_empty_to_avoid_conflict_with_guava.xml
/.idea/libraries/Maven__com_google_j2objc_j2objc_annotations_1_3.xml
/.idea/libraries/Maven__com_jayway_jsonpath_json_path_2_6_0.xml
/.idea/libraries/Maven__com_microsoft_azure_functions_azure_functions_java_core_library_1_0_0.xml
/.idea/libraries/Maven__com_microsoft_azure_functions_azure_functions_java_library_2_0_1.xml
/.idea/libraries/Maven__com_vaadin_external_google_android_json_0_0_20131108_vaadin1.xml
/.idea/libraries/Maven__commons_codec_commons_codec_1_15.xml
/.idea/libraries/Maven__commons_io_commons_io_2_11_0.xml
/.idea/libraries/Maven__io_netty_netty_buffer_4_1_75_Final.xml
/.idea/libraries/Maven__io_netty_netty_codec_4_1_75_Final.xml
/.idea/libraries/Maven__io_netty_netty_codec_dns_4_1_75_Final.xml
/.idea/libraries/Maven__io_netty_netty_codec_http2_4_1_75_Final.xml
/.idea/libraries/Maven__io_netty_netty_codec_http_4_1_75_Final.xml
/.idea/libraries/Maven__io_netty_netty_codec_socks_4_1_75_Final.xml
/.idea/libraries/Maven__io_netty_netty_common_4_1_75_Final.xml
/.idea/libraries/Maven__io_netty_netty_handler_4_1_75_Final.xml
/.idea/libraries/Maven__io_netty_netty_handler_proxy_4_1_75_Final.xml
/.idea/libraries/Maven__io_netty_netty_resolver_4_1_75_Final.xml
/.idea/libraries/Maven__io_netty_netty_resolver_dns_4_1_75_Final.xml
/.idea/libraries/Maven__io_netty_netty_resolver_dns_classes_macos_4_1_75_Final.xml
/.idea/libraries/Maven__io_netty_netty_resolver_dns_native_macos_osx_x86_64_4_1_75_Final.xml
/.idea/libraries/Maven__io_netty_netty_transport_4_1_75_Final.xml
/.idea/libraries/Maven__io_netty_netty_transport_classes_epoll_4_1_75_Final.xml
/.idea/libraries/Maven__io_netty_netty_transport_native_epoll_linux_x86_64_4_1_75_Final.xml
/.idea/libraries/Maven__io_netty_netty_transport_native_unix_common_4_1_75_Final.xml
/.idea/libraries/Maven__io_projectreactor_netty_reactor_netty_core_1_0_17.xml
/.idea/libraries/Maven__io_projectreactor_netty_reactor_netty_http_1_0_17.xml
/.idea/libraries/Maven__io_projectreactor_reactor_core_3_4_16.xml
/.idea/libraries/Maven__jakarta_activation_jakarta_activation_api_1_2_2.xml
/.idea/libraries/Maven__jakarta_annotation_jakarta_annotation_api_1_3_5.xml
/.idea/libraries/Maven__jakarta_validation_jakarta_validation_api_2_0_2.xml
/.idea/libraries/Maven__jakarta_ws_rs_jakarta_ws_rs_api_2_1_6.xml
/.idea/libraries/Maven__jakarta_xml_bind_jakarta_xml_bind_api_2_3_3.xml
/.idea/libraries/Maven__javax_annotation_javax_annotation_api_1_3_2.xml
/.idea/libraries/Maven__net_bytebuddy_byte_buddy_1_12_16.xml
/.idea/libraries/Maven__net_bytebuddy_byte_buddy_agent_1_11_22.xml
/.idea/libraries/Maven__net_jodah_typetools_0_6_2.xml
/.idea/libraries/Maven__net_minidev_accessors_smart_2_4_8.xml
/.idea/libraries/Maven__net_minidev_json_smart_2_4_8.xml
/.idea/libraries/Maven__org_apache_httpcomponents_httpclient_4_5_13.xml
/.idea/libraries/Maven__org_apache_httpcomponents_httpcore_4_4_15.xml
/.idea/libraries/Maven__org_apache_httpcomponents_httpmime_4_5_13.xml
/.idea/libraries/Maven__org_apache_logging_log4j_log4j_api_2_17_2.xml
/.idea/libraries/Maven__org_apache_logging_log4j_log4j_to_slf4j_2_17_2.xml
/.idea/libraries/Maven__org_apiguardian_apiguardian_api_1_1_2.xml
/.idea/libraries/Maven__org_assertj_assertj_core_3_21_0.xml
/.idea/libraries/Maven__org_checkerframework_checker_qual_3_12_0.xml
/.idea/libraries/Maven__org_glassfish_grizzly_grizzly_framework_2_4_4.xml
/.idea/libraries/Maven__org_glassfish_grizzly_grizzly_http_2_4_4.xml
/.idea/libraries/Maven__org_glassfish_grizzly_grizzly_http_server_2_4_4.xml
/.idea/libraries/Maven__org_glassfish_hk2_external_aopalliance_repackaged_2_6_1.xml
/.idea/libraries/Maven__org_glassfish_hk2_external_jakarta_inject_2_6_1.xml
/.idea/libraries/Maven__org_glassfish_hk2_hk2_api_2_6_1.xml
/.idea/libraries/Maven__org_glassfish_hk2_hk2_locator_2_6_1.xml
/.idea/libraries/Maven__org_glassfish_hk2_hk2_utils_2_6_1.xml
/.idea/libraries/Maven__org_glassfish_hk2_osgi_resource_locator_1_0_3.xml
/.idea/libraries/Maven__org_glassfish_jersey_containers_jersey_container_grizzly2_http_2_35.xml
/.idea/libraries/Maven__org_glassfish_jersey_core_jersey_client_2_35.xml
/.idea/libraries/Maven__org_glassfish_jersey_core_jersey_common_2_35.xml
/.idea/libraries/Maven__org_glassfish_jersey_core_jersey_server_2_35.xml
/.idea/libraries/Maven__org_glassfish_jersey_ext_jersey_entity_filtering_2_35.xml
/.idea/libraries/Maven__org_glassfish_jersey_inject_jersey_hk2_2_35.xml
/.idea/libraries/Maven__org_glassfish_jersey_media_jersey_media_json_jackson_2_35.xml
/.idea/libraries/Maven__org_hamcrest_hamcrest_2_2.xml
/.idea/libraries/Maven__org_javassist_javassist_3_25_0_GA.xml
/.idea/libraries/Maven__org_json_json_20220320.xml
/.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_5_8_2.xml
/.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_api_5_8_2.xml
/.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_engine_5_8_2.xml
/.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_params_5_8_2.xml
/.idea/libraries/Maven__org_junit_platform_junit_platform_commons_1_8_2.xml
/.idea/libraries/Maven__org_junit_platform_junit_platform_engine_1_8_2.xml
/.idea/libraries/Maven__org_mockito_mockito_core_4_9_0.xml
/.idea/libraries/Maven__org_mockito_mockito_inline_4_9_0.xml
/.idea/libraries/Maven__org_mockito_mockito_junit_jupiter_4_0_0.xml
/.idea/libraries/Maven__org_modelmapper_modelmapper_3_1_0.xml
/.idea/libraries/Maven__org_mongodb_bson_4_4_2.xml
/.idea/libraries/Maven__org_mongodb_mongodb_driver_core_4_4_2.xml
/.idea/libraries/Maven__org_mongodb_mongodb_driver_sync_4_4_2.xml
/.idea/libraries/Maven__org_objenesis_objenesis_3_3.xml
/.idea/libraries/Maven__org_opentest4j_opentest4j_1_2_0.xml
/.idea/libraries/Maven__org_ow2_asm_asm_9_1.xml
/.idea/libraries/Maven__org_projectlombok_lombok_1_18_24.xml
/.idea/libraries/Maven__org_reactivestreams_reactive_streams_1_0_3.xml
/.idea/libraries/Maven__org_skyscreamer_jsonassert_1_5_0.xml
/.idea/libraries/Maven__org_slf4j_jul_to_slf4j_1_7_36.xml
/.idea/libraries/Maven__org_slf4j_slf4j_api_1_7_36.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_2_6_6.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_autoconfigure_2_6_6.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_2_6_6.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_data_mongodb_2_7_5.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_json_2_6_6.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_logging_2_6_6.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_reactor_netty_2_6_6.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_test_2_7_5.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_webflux_2_6_6.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_test_2_6_6.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_test_autoconfigure_2_6_6.xml
/.idea/libraries/Maven__org_springframework_cloud_spring_cloud_function_adapter_azure_3_2_3.xml
/.idea/libraries/Maven__org_springframework_cloud_spring_cloud_function_context_3_2_3.xml
/.idea/libraries/Maven__org_springframework_cloud_spring_cloud_function_core_3_2_3.xml
/.idea/libraries/Maven__org_springframework_cloud_spring_cloud_function_web_3_2_3.xml
/.idea/libraries/Maven__org_springframework_cloud_spring_cloud_starter_function_webflux_3_2_3.xml
/.idea/libraries/Maven__org_springframework_data_spring_data_commons_2_6_3.xml
/.idea/libraries/Maven__org_springframework_data_spring_data_mongodb_3_3_3.xml
/.idea/libraries/Maven__org_springframework_spring_aop_5_3_18.xml
/.idea/libraries/Maven__org_springframework_spring_beans_5_3_18.xml
/.idea/libraries/Maven__org_springframework_spring_context_5_3_18.xml
/.idea/libraries/Maven__org_springframework_spring_core_5_3_18.xml
/.idea/libraries/Maven__org_springframework_spring_expression_5_3_18.xml
/.idea/libraries/Maven__org_springframework_spring_jcl_5_3_18.xml
/.idea/libraries/Maven__org_springframework_spring_messaging_5_3_18.xml
/.idea/libraries/Maven__org_springframework_spring_test_5_3_18.xml
/.idea/libraries/Maven__org_springframework_spring_tx_5_3_18.xml
/.idea/libraries/Maven__org_springframework_spring_web_5_3_18.xml
/.idea/libraries/Maven__org_springframework_spring_webflux_5_3_18.xml
/.idea/libraries/Maven__org_telegram_telegrambots_6_1_0.xml
/.idea/libraries/Maven__org_telegram_telegrambots_meta_6_1_0.xml
/.idea/libraries/Maven__org_telegram_telegrambots_spring_boot_starter_6_1_0.xml
/.idea/libraries/Maven__org_xmlunit_xmlunit_core_2_8_4.xml
/.idea/libraries/Maven__org_yaml_snakeyaml_1_29.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
